.sliderLayoutContainer--slider-descuentos-temporada {
  margin: 0 auto;
  max-width: 90%;
  padding-top: 2rem;
}

.caretIcon {
    color: #0098DA;
    width: 14px;
}

@media (min-width: 40em) {
  .caretIcon {
    color: #140A9A;
    width: 18px;
  }
}


@media (min-width: 64em) {
  .caretIcon {
    color: #000;
    width: 22px;
  }
}