.closeIconButton {
  width: auto !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--flexRowTitleDrawerDep) .closeIconButton {
  visibility: hidden;
  margin: 0;
  display: flex;
  align-items: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--flexRowTitleDrawerDep) .closeIconButton::before {
  visibility: visible;
  color: transparent;
  content: "hol";
  font-size: 16px;
  line-height: 16px;
  background-image: url("https://i.imgur.com/r1VYUKc.png");
  background-position: center;
  background-size: 20px 16px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  padding-left: 1rem;
}