.styledLinkContainer--footer-all {
  margin-left: 0;
  margin-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.styledLinkContent--footer-all {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 40em) {
  .menuContainerNav--menuDrawer {
    padding: 0 0.6rem;
  }
}